@page
@model KleinGeschäft.Pages.Product.EditModel
@{
}

<form method="post">
    <div class="row row-cols-auto">
        <div class="col-md-6">
            <label asp-for="@Model.Command.Name">Name</label>
            <input class="form-control" asp-for="@Model.Command.Name" type="text" />
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Command.UnitPrice">Kostet</label>
            <input class="form-control" asp-for="@Model.Command.UnitPrice" type="text" />
        </div>
        <div class=" col-md-6">
            <label asp-for="@Model.Command.CategoryId">Gruppe</label>
            <select asp-items="@Model.ProductCategories" asp-for="@Model.Command.CategoryId" class="form-control">
                <option value="0">Wählen Sie die Produktgruppe aus ...</option>
            </select>
        </div>
        <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id" />
        <div class="col-md-12 m-md-auto">
            <button type="submit" class="btn btn-success">Bearbeiten</button>
        </div>
    </div>
</form>